.padding {
    margin-bottom: 20px;
}

.spacing {
    margin-right: 10px;
}


.isManufactured {
    margin-left: 36px;
}

.checkboxes {
    display: flex;
    justify-content: space-between;
}

.removeButton {
    margin-top: 55%;
}