.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form {
    width: 40%;
}

.checkbox {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}