.padding {
    margin-bottom: 20px;
}

.duplicatedForm {
    padding-top: 15px;
}

.scrollTable {
    height: 503px;
    display:block;
    width: 100%;
    overflow-y : scroll;
    tr: {
    width: 100%;
    };
    td {
        width: 33.33%
    } 
}