.scrollTable {
    height: 503px;
    display:block;
    width: 100%;
    overflow-y : scroll;
    tr: {
    width: 100%;
    };
    td {
        width: 33.33%
    } 
}

.scrollTableSales {
    display:  block;
    height: 400px;
    width: 100%;
    overflow-y : scroll;
    tr {
    width: 100%;
    };
    td {
        width: 100%
    };
    th {
        width: 33.33%;
    } 
}

// .scrollTableSaless {
//     display:  block;
//     height: 400px;
//     width: 100%;
//     overflow-y : scroll;
//     tr {
//     width: 100%;
//     };
//     td {
//         width: 100%
//     };
//     th {
//         width: 33.33%;
//     } 
// }

.duplicatedForm {
    padding-top: 15px;
}

.padding {
    margin-bottom: 20px;
}

.progressPaper {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    border-radius: 100px;
}

.viewAllOrderHeader {
    display: flex;
    justify-content: space-between;
}

.singleRow {
    display: flex;
    justify-content: center;
}

.rowValue {
    margin-left: 3%;
}